<%- include("html/ini-html"); %>

    <%- include("html/cabecario"); -%>
        <dir class="row"></dir>
        <main>
            <div style="overflow: auto; height: 89vh;">
                <div class="row">
                    <div class="col s12 m12 language-markup">

                        <table class="responsive-table centered highlight  ">
                            <thead>
                                <tr>
                                    <th>Pais</th>
                                    <th>23/1/20 </th>
                                    <th>24/1/20 </th>
                                    <th>25/1/20 </th>
                                    <th>26/1/20 </th>
                                    <th>27/1/20 </th>
                                    <th>28/1/20 </th>
                                    <th>29/1/20 </th>
                                    <th>30/1/20 </th>
                                    <th>31/1/20 </th>
                                    <th>1/2/20 </th>
                                    <th>2/2/20 </th>
                                    <th>3/2/20 </th>
                                    <th>4/2/20 </th>
                                    <th>5/2/20 </th>
                                    <th>6/2/20 </th>
                                    <th>7/2/20 </th>
                                    <th>8/2/20 </th>
                                    <th>9/2/20 </th>
                                    <th>10/2/20 </th>
                                    <th>11/2/20 </th>
                                    <th>12/2/20 </th>
                                    <th>13/2/20 </th>
                                    <th>14/2/20 </th>
                                    <th>15/2/20 </th>
                                    <th>16/2/20 </th>
                                    <th>17/2/20 </th>
                                    <th>18/2/20 </th>
                                    <th>19/2/20 </th>
                                    <th>20/2/20 </th>
                                    <th>21/2/20 </th>
                                    <th>22/2/20 </th>
                                    <th>23/2/20 </th>
                                    <th>24/2/20 </th>
                                    <th>25/2/20 </th>
                                    <th>26/2/20 </th>
                                    <th>27/2/20 </th>
                                    <th>28/2/20 </th>
                                    <th>29/2/20 </th>
                                    <th>1/3/20 </th>
                                    <th>2/3/20 </th>
                                    <th>3/3/20 </th>
                                    <th>4/3/20 </th>
                                    <th>5/3/20 </th>
                                    <th>6/3/20 </th>
                                    <th>7/3/20 </th>
                                    <th>8/3/20 </th>
                                    <th>9/3/20 </th>
                                    <th>10/3/20 </th>
                                    <th>11/3/20 </th>
                                    <th>12/3/20 </th>
                                    <th>13/3/20 </th>
                                    <th>14/3/20 </th>
                                    <th>15/3/20 </th>
                                    <th>16/3/20 </th>
                                    <th>17/3/20 </th>
                                    <th>18/3/20 </th>
                                    <th>19/3/20 </th>
                                    <th>20/3/20 </th>
                                    <th>21/3/20 </th>
                                    <th>22/3/20 </th>
                                    <th>23/3/20 </th>
                                    <th>24/3/20 </th>
                                    <th>25/3/20 </th>
                                    <th>26/3/20 </th>
                                    <th>27/3/20 </th>
                                    <th>28/3/20 </th>
                                    <th>29/3/20
                                        <th>
                                </tr>
                            </thead>

                            <tbody>


                                <% for (var i = 0; i < covid.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= covid[i].city %>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_23_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_24_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_25_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_26_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_27_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_28_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_29_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_30_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes1_31_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_1_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_2_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_3_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_4_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_5_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_6_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_7_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_8_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_9_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_10_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_11_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_12_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_13_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_14_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_15_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_16_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_17_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_18_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_19_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_20_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_21_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_22_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_23_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_24_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_25_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_26_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_27_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_28_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes2_29_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_1_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_2_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_3_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_4_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_5_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_6_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_7_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_8_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_9_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_10_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_11_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_12_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_13_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_14_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_15_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_16_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_17_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_18_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_19_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_20_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_21_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_22_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_23_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_24_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_25_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_26_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_27_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_28_20%>
                                        </td>
                                        <td>
                                            <%=covid[i].mes3_29_20%>
                                                <td>
                                    </tr>
                                    <% } %>




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </main>

        <%- include("html/rodape"); -%>

            <%- include("html/fim-html"); -%>